

*{
  box-sizing: border-box;
}

.wrapper{
  background: url(assets/dino-reichmuth-85708.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: rgba(12,12,12,.6);
  text-align: center;
  display: table;
}

.byline{
  display: table-cell;
  line-height: 4.2rem;
  font-size: 2rem;
 }

.quote {
  text-transform: uppercase;
  font-family: 'Encode Sans Expanded', sans-serif;
  text-align: center;
  width: 85vw;
  margin: auto;
  margin-top: 15vh;
}

.author{
  font-family: 'Lobster', cursive;
  color: rgba(12,12,12,.75);
  font-size: 1.2rem;
}





